-
    var start = 2015,
        now = year,
        duration = start;
    if(now > start) {
        duration = start + ' - ' + now;
    }

footer.site-footer
    p.text-center powered by solitude, #{duration}