doctype html
html
    head
        meta(charset='utf-8')
        block title
        title page title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block style
    body
        block header
        block content
            main.container-fluid content here
        block footer
        block script
