doctype html
html
  head
    title= pageTitle
  - var authenticated = true
  body(class=authenticated ? 'authed' : 'anon')
    h1 Hello Jade
    main
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      div(escaped="<code>")
      div(unescaped!="<code>")
      p Jade is a terse and simple, a(href='google.com') Google, templating language with a strong focus on performance and powerful features.

      ul
        - for (var x = 0; x < 3; x++)
          li item

      ol
        -
          list = ["Uno", "Dos", "Tres",
                  "Cuatro", "Cinco", "Seis"]
        each item in list
          li= item

      <!--[if lte IE 8]>
      p low ie
      <![endif]-->

      - var user = { description: 'foo bar baz' }
      - var authorised = false
      #user
        if user.description
          h2 Description
          p.description= user.description
        else if authorised
          h2 Description
          p.description.
            User has no description,
            why not add one...
        else
          h1 Description
          p.description User has no description
