doctype html
html
  head
    meta(charset='utf-8')
    block title
      title page title
    block styles
  body
    block hd
    .main
      block main
        h1 main content
    block ft
    block scripts
