extend layout.jade

block style
    if style
        link(href='/assets/#{style}.css', rel='stylesheet')

block title
    title 注册

block content
    main.container-fluid#form-sign-up

block script
    if script
        script(src='/assets/#{script}.js')

