extends layout

block title
  title sign-up title

block styles
  style p {color: red;}

block hd
  header hjr.space
  
block main
  p sign-up page

block ft
  footer 2015-2016 hjr.space

block scripts
  script console.log('sign up scripts');
