extend layout.jade

block style
    if bundle
        link(href='/assets/#{bundle}.css', rel='stylesheet')

block title
    title 注册

block content
    main.container-fluid#form-sign-up !{formSignUp}

block script
    if bundle
        script(src='/assets/#{bundle}.js')
