@import 'bootstrap/bootstrap';
@import 'header';
@import 'footer';

.i-form {
    .i-tip {
        margin-top: 10px;
    }
    .i-tip,
    .i-icon {
        display: none;
    }
    .has-error .i-tip,
    .has-error .i-icon {
        display: block;
    }
    .verification {
        height: 46px;
    }
}
