@import 'uikit';
.form-sign-up {
    padding-bottom: 20px;
    .tip {
        padding: 2px 15px 0;
    }
    .code {
        display: block;
        width: 100%;
        height: 46px;
    }
    .nick-name-row {
        margin-bottom: 32px;
    }
}
